@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;  
    text-align: center;
    color: white;-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

h1 {
    font-size: 80px;    
    margin-bottom: 20px;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
}

#newWord {
    background-color: white ;
    border-color: white;
    color: black;
    transition: .2s;
    border-radius: 10px;
    border: solid 1px white;
    padding:18px 10px;
    width:180px;
    font-size: 1.2rem;
    cursor: pointer;
}

#newWord:disabled {
    background-color: transparent ;
    border-color: white;
    color: white;
    transition: .2s;
    border-radius: 10px;
    border: solid 1px white;
    padding:18px 10px;
    width:180px;
    font-size: 1.2rem;
    cursor: pointer;
  }

#newWord:hover:disabled {
    cursor:not-allowed;
    transform: scale(1);
}

#newWord:hover:enabled {
    background-color:white;
    color: black;
    transform: scale(1.05);
}

#word {
    font-size: larger;

    margin:50px auto 50px auto;
    text-transform: capitalize;
}

.center {
    width: 520px;
    height: 292.5px;
    margin: 201px auto 0px auto;
}
canvas{
    border: white dashed 2px;
    padding:15px;
    width:520px;
    height:292.50px;
}

#alphabet {
    margin:50px auto ;
    padding:0;
    max-width:900px;
}

#alphabet li {
    float:left;
    margin: 0 10px 10px 0;
    list-style:none;
    width:35px;
    height:30px;
    padding-top:10px;
    background:transparent;
    cursor:pointer;
    border-radius: 5px;
    border: solid 1px white;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

#alphabet li:hover{
    background: white;
    border: solid 1px white;
    color:black;
    font-weight: 500;
    transform: scale(1.05);
}

#alphabet li:disabled{
    background: transparent;
    border: solid 1px white;
    color:black;
    font-weight: 500;
    transform: scale(1);
}

#alphabet .active {
    background-color: rgb(23, 199, 23) !important;
    color: white;
}

#alphabet .active:hover {
    color: white;
    transform: scale(1) !important;
    background-color: rgb(23, 199, 23) !important;
    cursor: default;
}

#alphabet .active:hover {
    color: white;
    transform: scale(1) !important;
}

#alphabet .wrong {
    background-color: rgb(231, 43, 43)!important;
    color: white;
}

#alphabet .wrong:hover {
    color: white;
    transform: scale(1) !important;
    background-color: rgb(231, 43, 43) !important;
    cursor: default;
}

.wrong:hover {
    color: white;
    transform: scale(1) !important;
}


#my-word li {
    position: relative;
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0 5px;
    font-size:1.6em;
}

#mylives{
    font-size:1.6em;
    text-align:center;
    font-weight: lighter;
    width:500px;
    margin:10px auto 0px auto;
}



button {
    background-color: transparent ;
    color: white;
    transition: .2s;
    border-radius: 10px;
    padding:18px 10px;
    width:180px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 5px;
    border-color: white;
}

.oneWordSelected {
    background-color: white;
    border: solid 1px white;
    color: black;
}

.TwoWordSelected {
    background-color: white;
    border: solid 1px white;
    color: black;
}

.EasySelected {
    background-color: rgb(23, 199, 23);
    border: solid 1px rgb(23, 199, 23);
}

.MediumSelected {
    background-color: rgb(231, 187, 43);
    border: solid 1px rgb(231, 187, 43);
}

.HardSelected {
    background-color: rgb(231, 43, 43);
    border: solid 1px rgb(231, 43, 43);
}

/*---------------------------*/


#easy:hover {
    background-color: rgb(23, 199, 23);
    border: solid 1px rgb(23, 199, 23);
    color: white;
}

#medium:hover {
    background-color: rgb(231, 187, 43);
    border: solid 1px rgb(231, 187, 43);
    color: white;
}

#hard:hover {
    background-color: rgb(231, 43, 43);
    border: solid 1px rgb(231, 43, 43);
    color: white;
}

.difficulty {
    margin: 10px 0 10px;
    list-style:none;
}

button:hover {
    color: black;
    background-color:white;
    transform: scale(1.07);
}

/*------------------------------------------*/

#oneWord:hover:disabled {
    background-color: rgb(23, 199, 23);
    transform: scale(1);
    cursor: not-allowed;
}

#twoWord:hover:disabled {
    background-color: rgb(231, 187, 43);
    transform: scale(1);
    cursor: not-allowed;
}

#threeWord:hover:disabled {
    background-color: rgb(231, 43, 43);
    transform: scale(1);
    cursor: not-allowed;
}

#easy:hover:disabled {
    background-color: rgb(23, 199, 23);
    transform: scale(1);
    cursor: not-allowed;
}

#medium:hover:disabled {
    background-color: rgb(231, 187, 43);
    transform: scale(1);
    cursor: not-allowed;}

#hard:hover:disabled {
    background-color: rgb(231, 43, 43);
    transform: scale(1);
    cursor: not-allowed;}